<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <settings>
     <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <typeAliases>
     <typeAlias type="java.util.Map" alias="map" />
      <!--커플/프렌드존 -->
     <typeAlias type="app.sum.bti.couple.vo.CoupleVO$CoupleList" alias="coupleList"/>
     <typeAlias type="app.sum.bti.couple.vo.CoupleVO$CoupleDetailInfo" alias="coupleDetailInfo"/>
     <typeAlias type="app.sum.bti.friend.vo.FriendVO$FriendList" alias="friendList"/>
     <typeAlias type="app.sum.bti.friend.vo.FriendVO$FriendDetailInfo" alias="friendDetailInfo"/>

      <!--쪽지함 -->
      <typeAlias type="app.sum.bti.post.vo.PostVO$PostList" alias="postList"/>
      <typeAlias type="app.sum.bti.post.vo.PostVO$PostDetail" alias="postDetail"/>
      <typeAlias type="app.sum.bti.post.vo.PostVO$SendPost" alias="sendPost"/>

      <!--로그인-->
      <typeAlias type="app.sum.bti.login.vo.LoginVO$LoginInfo" alias="loginInfo"/>
      <typeAlias type="app.sum.bti.login.vo.LoginVO$LoginUserInfo" alias="loginUserInfo"/>

  </typeAliases>




</configuration>