<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <settings>
     <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <typeAliases>
     <typeAlias type="java.util.Map" alias="map" />
     <typeAlias type="app.sum.bti.couple.vo.CoupleVO$CoupleList" alias="coupleList"/>
     <typeAlias type="app.sum.bti.mypage.vo.LikeVO$LikeList" alias="likeList"/>
      <typeAlias type="app.sum.bti.message.vo.MessageVO" alias="messageList"/>
  </typeAliases>




</configuration>