<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app.sum.bti.couple.mapper.CoupleMapper">

    <!-- 커플 상세정보 등록한 유저목록 가져오기 -->
    <select id="getCoupleList"  parameterType="map" resultType="coupleList">
        SELECT  u.user_id,
                u.user_mbti,
                u.user_gender,
                u.user_nick,
                u.love_mbti,
                u.hate_mbti,
               (select count(*) from like_list_couple lk WHERE lk.couple_like_to = u.user_id) as like_count,
               (select count(*) from like_list_couple lk WHERE lk.couple_like_from = #{userId} and lk.couple_like_to = u.user_id) as like_you_check,
                di.detail_intro
        FROM user_info u
              LEFT JOIN detail_info_couple di ON u.user_id = di.user_id
        WHERE
              u.user_gender != (SELECT user_gender FROM user_info WHERE user_id = #{userId})
        AND
              u.user_id IN (SELECT user_id FROM detail_info_couple);
    </select>


    <!-- 커플 상세정보 저장-->
    <insert id="saveDetail"  parameterType="coupleDetailInfo">
            insert into detail_info_couple (user_id, detail_intro, detail_hobby, detail_food, detail_pat)
                                    values (#{userId}, #{detailIntro}, #{detailHobby}, #{detailFood}, #{detailPat})
    </insert>


    <!-- 커플 상세정보 가져오기-->
    <select id="showDetailInfo" parameterType="map" resultType="coupleDetailInfo">
        select user_id,
               detail_intro,
               detail_hobby,
               detail_food,
               detail_pat
        from   detail_info_couple
        where  user_id = #{userId}
    </select>


    <!-- 커플 좋아요 리스트에서, 접속유저가 버튼유저를 좋아하고 있는지 확인-->
    <select id="CoupleCheckExistList" parameterType="map" resultType="int">
        select count(*)
        from like_list_couple
            where couple_like_from = #{userId} and couple_like_to = #{userTo}
    </select>


    <!-- 커플 좋아요 리스트에 해당 버튼유저 추가 -->
    <insert id="coupleAddLikeList"  parameterType="map">
        insert into like_list_couple (couple_like_from, couple_like_to)
                              values (#{userId}, #{userTo})
    </insert>


    <!-- 커플 좋아요 리스트에서 해당 버튼유저 삭제 -->
    <delete id="coupleDeleteLikeList" parameterType="map">
        delete
        from   like_list_couple
        where  couple_like_from = #{userId} and couple_like_to = #{userTo}
    </delete>

</mapper>
