<!--exam-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#" id="logo">
            <img th:src="@{/img/logo/mainLogo.png}" style="width: 130px;">
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active" style="font-family: 'GmarketSansMedium', sans-serif;">
                    <a class="nav-link" href="/mainView" id="home" onclick="goToMainPage()">홈</a>
                </li>
                <li class="nav-item active" style="font-family: 'GmarketSansMedium', sans-serif;">
                    <a class="nav-link disabled" href="#" id="myPage">마이 페이지</a>
                </li>
                <li class="nav-item active" style="font-family: 'GmarketSansMedium', sans-serif;">
                    <a class="nav-link" href="/postBoxList" id="postBox" onclick="goToPostBox()">쪽지함</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" id="null">  </a>
                </li>
                <li class="nav-item active" style="font-family: 'GmarketSansMedium', sans-serif;">
                    <a class="nav-link" href="/coupleZoneList" id="coupleZone" onclick="goToCoupleZoneList()"> 커플존 </a>
                </li>
                <li class="nav-item active" style="font-family: 'GmarketSansMedium', sans-serif;">
                    <a class="nav-link" href="/friendZoneList" id="friendZone" onclick="goToFriendZoneList()"> 프렌드존 </a>
                </li>
                <li class="nav-item active" style="font-family: 'GmarketSansMedium', sans-serif;">
                    <a class="nav-link" href="/comm/list" id="communityZone" onclick="goToCommunityZoneList()"> 커뮤니티존 </a>
                </li>

            </ul>
<!--            <form class="form-inline my-2 my-lg-0">&ndash;&gt;-->
<!--                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">&ndash;&gt;-->
<!--                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
<!--            </form>-->
        </div>
    </nav>

    <script>

        // MainPage로 이동하는 함수 정의
        function goToMainPage() {
            window.location.href = '/mainView'; // 이동할 페이지 URL을 설정
        }

        // PostBox로 이동하는 함수 정의
        function goToPostBox() {
            window.location.href = '/postBoxList'; // 이동할 페이지 URL을 설정
        }

        // Couple Zone로 이동하는 함수 정의
        function goToCoupleZoneList() {
            window.location.href = '/coupleZoneList'; // 이동할 페이지 URL을 설정
        }

        // Friend Zone로 이동하는 함수 정의
        function goToFriendZoneList() {
            window.location.href = '/friendZoneList'; // 이동할 페이지 URL을 설정
        }

        // Community Zone로 이동하는 함수 정의
        function goToCommunityZoneList() {
            window.location.href = '/comm/list'; // 이동할 페이지 URL을 설정
        }

        function init(){
            console.log('aaa');
            console.log(location.pathname);
        }


        $(document).ready(function(){
            init();
        });

    </script>
</div>
</body>
</html>