<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.sum.bti.community.mapper.BoardMapper">

<resultMap type="boardDetail"    id="detailBoard">
<result property="boardTitle" column="board_title" />
<result property="boardOwner" column="board_owner" />
<result property="boardContents" column="board_contents" />
 <collection property="files" javaType="List"   ofType="fileVO">
     <result property="fileId" column="file_id"/>
     <result property="filePath" column="file_path"/>
     <result property="storedFileName" column="stored_file_name"/>
     <result property="originFileName" column="origin_file_name"/>
  </collection>
</resultMap>

    <select id="getBoardTotal" parameterType="map" resultType="int">
        select count(board_num) as cnt
        from board
    </select>

    <select id="getBoardList"  parameterType="map"   resultType="boardList">

        select
                board_num,
                board_title,
                user_id,
                board_like,
                board_time
        from board
    </select>
  

  
  <insert id="writeBoard" parameterType="boardCreate" useGeneratedKeys="true" keyProperty="boardId">
 			   insert into board(board_title, board_contents, board_owner)
                       	    values(#{boardTitle}, #{boardContents},  #{boardOwner} )
  </insert>



    

    
    
      

  

  
<select  id="getFileInfo" parameterType="map"    resultType="fileVO"> 
		   
		     select   file_id,
		                   file_path,
					       origin_file_name,
					       stored_file_name
		    from   board_file_info 
		    where file_id =  #{fileId}
    
    </select>

</mapper>







