<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/main_layout}">

<div layout:fragment="content">
    <div class="container">
        <section class="content" id="msg">

        </section>
        <div id="pageArea">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
        </div>
    </div>
    <script>


        function  getMessageList(numPageNum) {

            $.ajax(
                {
                 url : '/message/list/data',
                 type :'get',
                 dataType :'json',
                 data : {nowPageNumber : numPageNum}

            }).done(function(data){
                console.log(data.list);
                makeProfile(data.list)

            }).fail(function (xhr, status, error){
                alert(status);
            });

        }

        function makeProfile(coupleList) {
            const msg = $('#msg');
            msg.empty();

            $.each(coupleList, function (index, obj) {
                const template = getTemplates(obj);
                msg.append(template);
            })
        }


        function  getTemplates(vo){
            const likeBtnId = "likeBtn_" + 1;
            const postId = "postBtn_"  + 1;
            let template = `     <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    <tr>
                        <th scope="row">1</th>
                        <td>@@@@</td>
                        <td>@@@@</td>
                        <td>@@@@</td>
                    </tr>
                </tbody>
            </table>`;

            template = template.replaceAll('@@sendNick@@',vo);
            template = template.replaceAll('@@readTime@@', );
            template = template.replaceAll('@@recNick@@', );

            return template;
        }

        $(document).ready(function (){
            getMessageList(0);
        });

    </script>
</div>
</html>

