<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.sum.bti.post.mapper.PostMapper">

    <select id="getPostList"  parameterType="map" resultType="postList">

        select post_num,
               post_title,
               DATE_FORMAT(post_time, '%y.%m.%d')  as post_time,
               post_sender,
               post_receiver,
               post_zone,
               u.user_nick,
               u.user_gender,
               u.user_mbti
        from  post_box as p
            LEFT JOIN user_info as u ON p.post_sender = u.user_id
        where p.post_receiver = 'test10';
                               <!-- ${#userId} -->
    </select>

    <select id="getPostDetail" parameterType="map" resultType="postDetail">

        select post_num,
               post_title,
               post_sender,
               post_time,
               post_contents,
               u.user_nick,
               u.user_mbti
        from  post_box as p
            LEFT JOIN user_info as u ON p.post_sender = u.user_id
        where p.post_num = #{postNum}

    </select>

    <!-- 쪽지보내기 -->
    <insert id="postSend" parameterType="sendPost">
        insert into post_box (post_title, post_contents, post_sender, post_receiver)
             values(#{postTitle}, #{postContents}, #{postSender},
                  (select user_id from user_info where user_nick = #{postReceiver}))
    </insert>




    <delete id="delPost" parameterType="map">
        delete from post_box where post_num = ${postNum}
    </delete>
</mapper>